html, body{
  cursor: url(../images/huella.png), auto;
  box-sizing: border-box;
  margin: 0;
  padding: 0; 
}

/*primer ciuadro cuerpo*/
.principal img{
  background-repeat: no-repeat;
  width: 100%;
  height: 450px;
}
 .h1{
  color: white;
  font-size: 33px;
  padding: 10px;
  padding-left: 30px;
  margin-left: 40%;
  margin-bottom: 10%;
  margin-right: 40%;
  margin-top: -38%;
}
.principal p{
  font-size: 25px;
  margin-left: 25%;
  margin-right: 20%;
}

/*animales BODY*/
.conten{
  width: 100%; 
  align-items: center; 
}
.fondo_adpot img{
  margin-top: 8.7%;
  width: 49.8%;
  height: 360px; 
}
.fondo_adpot2 img{
  margin-top: 2%;
  width: 49.8%;
  height: 360px; 
}
.fondo_adpot3 img{
  margin-top: 2%;
  width: 49.8%;
  height: 360px; 
}
.caja1{
  margin-top: -30%;
  display: flex;
}
.caja2 {
  margin-top: -30%; 
  display: flex;
}
.caja3 {
  margin-top: -30%;
  display: flex;
}

.conten figure{
  position: relative; 
  height: 250px;
  width: 350px;
  overflow: hidden;
  box-shadow: 0px 15px 25px rgba(0,0,0,.50);
  cursor: pointer;
}
.caja1 h3, h4{
  display: grid; 
}
.caja2 h4{

}
.conten figure img{
  height: 100%;
  width: 100%;
  transition: all 500ms ease-out; 
}
.capa{
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, .8);
  transition: all 500ms ease-out;
  opacity: 0; 
  visibility: hidden;
  text-align: center;
}
.conten figure:hover > .capa{
  opacity: 1;
  visibility: visible;    
}
.capa:hover p{
  margin-top: 70px;
  margin-bottom: 15px;
}
.conten figure:hover > img{
  transform: scale(1.3);
}
.capa p{
  color:#fff;
  font-weight: 400;
  transition: all 500ms ease-out;
  margin-top: 30px;
  line-height: 1.5;
}
.pie_pagina{
  margin-top: 2%;
}