/*Fuentes*/
@font-face{
	font-family:"gangalin";
	src:url("../fonts/Gagalin-Regular.woff") format("truetype");
	font-style: normal;
	font-weight: normal;
}
@font-face{
	font-family:"bebas";
	src:url("../fonts/BebasNeue-Regular.woff") format("truetype");
	font-style: normal;
	font-weight: normal;
}

html, body{
	margin: 0;
	border:0;
	padding: 0;
	list-style: none;
	box-sizing: border-box;
}
/*Conoce awicha*/
.cono_Aw{
    background: url(../images/Background/background3.png);
    background-size: cover;
    padding: 40px;
}
.cono_Aw h1{
    font-family:"gangalin";
    font-size: 50px;
    color: white;
    text-align: center;
    margin-top: 70px;
}
.cono_Aw h2{
    font-family:"bebas";
    font-size: 25px;
    color: #616060;
    text-align: center;
    margin-top: 60px;
    letter-spacing: 2px;
}

/*VISIÓN*/
.visi_Aw{
    background: url(../images/Background/background4.png);
    background-size: cover;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 100px;
}
.ima_Visa img{
    width: 400px;
    height: 250px;
    margin-top: 150px;
}
.letra_Visi h1{
    font-family:"gangalin";
    font-size: 50px;
    color: white;
    margin-top: 40px;
    margin-left: 100px;
}
.letra_Visi h2{
    font-family:"bebas";
    font-size: 25px;
    color: #616060;
    margin-top: 30px;
    text-align: justify;
    letter-spacing: 2px;
}
/*Empezó*/
.inic_Aw{
    background: url(../images/Background/background3.png);
    background-size: cover;
    padding: 60px;
}
.inic_Aw h1{
    font-family:"gangalin";
    font-size: 50px;
    color: white;
    text-align: center;
    margin-top: 50px;
}
.inic_Aw h2{
    font-family:"bebas";
    font-size: 35px;
    color: #616060;
    text-align: center;
    margin-top: 60px;
    letter-spacing: 2px;
}

/*Equipo*/
.equipo_aw{
    background: url(../images/Background/background5.png);
    background-repeat: no-repeat;
    padding-bottom: 100px;
  }

  .tit_equi h1{
    font-family:"gangalin";
    font-size: 80px;
    color: beige;
    text-align: center;
    margin-top: 30px;
    margin-left: 60px;
  }
  .foto_Equi {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .foto_Equi img{
    margin-top: 100px;
    margin-left: 120px;
    width: 150px;
    height: 160px;
    border-radius: 100px;
    justify-content: center;
  }
  .nom_tes{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .nom_tes h2{
    font-family:"bebas";
    font-size: 40px;
    color: beige;
    text-align: center;
    margin-top: 20px;
  }
  .info_Tes{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .info_Tes img{
    width: 100px;
    height: 50px;
    margin-left: 150px;
  }

/*Carrusel*/
.carrusel{
	background: url(../images/Background/background2.png);
	background-size: cover;
	padding-bottom: 600px;
}
.container {
    position:relative;
    width: 320px;
    perspective: 4000px;
  }
  .carousel {
    transform-style: preserve-3d;
    animation: rotate360 120s infinite forwards linear;
  }
  .carousel__face {
    position: absolute;
    margin-top: 200px;
    width: 450px;
    height: 250px;
    background-size: cover;
    box-shadow:inset 0 0 0 2000px rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;
  }
  span {
    margin: auto;
    font-size: 2rem;
  }

  .carousel__face:nth-child(1) {
      background-image: url(../images/Conoceme/Awicha\ 3.png);
    transform: rotateY(  0deg) translateZ(430px); }
  .carousel__face:nth-child(2) {
    background-image: url(../images/Conoceme/Awicha\ 2.png);
      transform: rotateY( 60deg) translateZ(430px); }
  .carousel__face:nth-child(3) {
    background-image: url(../images/Conoceme/Awicha\ 4.png);
    transform: rotateY( 120deg) translateZ(430px); }
  .carousel__face:nth-child(4) {
    background-image: url(../images/Conoceme/Awicha\ 5.png);
    transform: rotateY(180deg) translateZ(430px); }
  .carousel__face:nth-child(5) {
    background-image: url(../images/Conoceme/Awicha\ 6.png);
   transform: rotateY(240deg) translateZ(430px); }
   .carousel__face:nth-child(6) {
    background-image: url(../images/Conoceme/Awicha\ 7.png);
   transform: rotateY(300deg) translateZ(430px); }
   @keyframes rotate360 {
    from {
      transform: rotateY(0deg);
    }
    to {
      transform: rotateY(-360deg);
    }
  }
