/*Fuentes*/
@font-face{
	font-family:"gangalin";
	src:url("../fonts/Gagalin-Regular.woff") format("truetype");
	font-style: normal;
	font-weight: normal;
}
@font-face{
	font-family:"bebas";
	src:url("../fonts/BebasNeue-Regular.woff") format("truetype");
	font-style: normal;
	font-weight: normal;
}

html, body{
  cursor: url(../images/huella.png), auto;
	margin: 0;
	border:0;
	padding: 0;
	list-style: none;
	box-sizing: border-box;
}
/*Conoce awicha*/
.cono_Aw{
    background: url(../images/Background/background3.png);
    background-size: cover;
    padding: 40px;
}
.cono_Aw h1{
    font-family:"gangalin";
    font-size: 50px;
    color: white;
    text-align: center;
    margin-top: 70px;
}
.cono_Aw h2{
    font-family:"bebas";
    font-size: 25px;
    color: #616060;
    text-align: justify;
    margin-top: 60px;
    letter-spacing: 2px;
     margin-left: 80px;
    margin-right: 80px;
}

/*VISIÓN*/
.visi_Aw{
    background: url(../images/Background/background4.png);
    background-size: cover;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 100px;
}
.ima_Visa img{
    width: 400px;
    height: 250px;
    margin-top: 150px;
}
.letra_Visi h1{
    font-family:"gangalin";
    font-size: 50px;
    color: white;
    margin-top: 40px;
    margin-left: 100px;
}
.letra_Visi h2{
    font-family:"bebas";
    font-size: 25px;
    color: #616060;
    margin-top: 30px;
    text-align: justify;
    letter-spacing: 2px;
}
/*Empezó*/
.inic_Aw{
    background: url(../images/Background/background3.png);
    background-size: cover;
    padding: 60px;
}
.inic_Aw h1{
    font-family:"gangalin";
    font-size: 50px;
    color: white;
    text-align: center;
    margin-top: 50px;
}
.inic_Aw h2{
    font-family:"bebas";
    font-size: 25px;
    color: #616060;
    text-align: justify;
    margin-top: 60px;
    letter-spacing: 2px;
    margin-left: 80px;
    margin-right: 80px;
}

/*Equipo*/
.equipo_aw{
    background: url(../images/Background/background5.png);
    background-repeat: no-repeat;
    padding-bottom: 100px;
  }

  .tit_equi h1{
    font-family:"gangalin";
    font-size: 80px;
    color: beige;
    text-align: center;
    margin-top: 30px;
    margin-left: 60px;
  }
  .foto_Equi {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .foto_Equi img{
    margin-top: 100px;
    margin-left: 150px;
    width: 150px;
    height: 160px;
    border-radius: 100px;
    justify-content: center;
  }
  .nom_tes{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .nom_tes h2{
    font-family:"bebas";
    font-size: 40px;
    color: beige;
    text-align: center;
    margin-top: 20px;
  }
  /*BOTONES*/
 /*Botones*/
.botones_Modal{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.btn{
  text-decoration: none;
  transform:scale(0.8);
  -ms-transform:scale(0.8);
  transform:scale(0.8);
  border-radius:50px;
  background:transparent;
  cursor:pointer;
  transition: .5s;
  transition:.5s;
}
.btn img{
    width: 100px;
    height: 50px;
}

.btn :focus{
  outline:none;
}




.btn:hover{
  transform:scale(1);
  transform:scale(1);
  background:#24C6DC;
  -moz-box-shadow: 0px 0px 20px rgba(56,56,56,.2);
  -webkit-box-shadow: 0px 0px 20px rgba(56,56,56,.2);
  box-shadow: 0px 0px 20px rgba(56,56,56,.2);
  }


/*MODAL*/
.modal-header{
  background-color: #9FE2F4;
  color: #FFFFFF;
  background-image: url(../images/index/huellas.jpg);
  opacity: 0.7;
  

}
.modal-header h5{
  color: black;
  font-size: 50px;
  text-shadow: 5px 5px 2px #9FE2F4;

}
.modal-body{
background-color: #86AFBA;
display: grid;
grid-template-columns: 1fr 1fr;
}
.cuerpomodalparrafo{
  margin-left: 100px;
}
.cuerpomodalimagen img{
  width: 200px;
  margin-left: 100px;
  margin-top: 50px;
}

.modal-body p{
text-align:justify;
font-weight: 100;
}
.modal-footer{
  background-color: #93A5A9;
}

.card-title{
  text-align: center;
}

.card-header{
  text-align: center;
}

.card{
  margin:10px auto;
}

/*Carrusel*/
.carrusel{
	background: url(../images/Background/background2.png);
	background-size: cover;
	padding-bottom: 600px;
}
.container {
    position:relative;
    width: 320px;
    perspective: 4000px;
  }
  .carousel {
    transform-style: preserve-3d;
    animation: rotate360 120s infinite forwards linear;
  }
  .carousel__face {
    position: absolute;
    margin-top: 200px;
    width: 450px;
    height: 250px;
    background-size: cover;
    box-shadow:inset 0 0 0 2000px rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;
  }
  span {
    margin: auto;
    font-size: 2rem;
  }

  .carousel__face:nth-child(1) {
      background-image: url(../images/Conoceme/Awicha\ 3.png);
    transform: rotateY(  0deg) translateZ(430px); }
  .carousel__face:nth-child(2) {
    background-image: url(../images/Conoceme/Awicha\ 2.png);
      transform: rotateY( 60deg) translateZ(430px); }
  .carousel__face:nth-child(3) {
    background-image: url(../images/Conoceme/Awicha\ 4.png);
    transform: rotateY( 120deg) translateZ(430px); }
  .carousel__face:nth-child(4) {
    background-image: url(../images/Conoceme/Awicha\ 5.png);
    transform: rotateY(180deg) translateZ(430px); }
  .carousel__face:nth-child(5) {
    background-image: url(../images/Conoceme/Awicha\ 6.png);
   transform: rotateY(240deg) translateZ(430px); }
   .carousel__face:nth-child(6) {
    background-image: url(../images/Conoceme/Awicha\ 7.png);
   transform: rotateY(300deg) translateZ(430px); }
   @keyframes rotate360 {
    from {
      transform: rotateY(0deg);
    }
    to {
      transform: rotateY(-360deg);
    }
  }
