
/*Fuentes*/
@font-face{
	font-family:"gangalin";
	src:url("../fonts/Gagalin-Regular.woff") format("truetype");
	font-style: normal;
	font-weight: normal;
}
@font-face{
	font-family:"bebas";
	src:url("../fonts/BebasNeue-Regular.woff") format("truetype");
	font-style: normal;
	font-weight: normal;
}

html, body{
	margin: 0;
	border:0;
	padding: 0;
	list-style: none;
	box-sizing: border-box;
}
/*Carrusel*/
.container1{
	background: url(../images/Background/background2.png);
	background-size: cover;
  padding-bottom: 600px;
}
.container {
    position:relative;
    width: 320px;
    perspective: 3000px;
  }
  .carousel {
    transform-style: preserve-3d;
    animation: rotate360 180s infinite forwards linear;
  }
  .carousel__face {
    position: absolute;
    margin-top: 200px;
    width: 450px;
    height: 250px;
    background-size: cover;
    box-shadow:inset 0 0 0 2000px rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;
  }
  span {
    margin: auto;
    font-size: 2rem;
  }

  .carousel__face:nth-child(1) {
      background-image: url(../images/index/carrusel1.PNG);
    transform: rotateY(  0deg) translateZ(430px); }
  .carousel__face:nth-child(2) {
    background-image: url(../images/index/carrusel2.jpg);
      transform: rotateY( 60deg) translateZ(430px); }
  .carousel__face:nth-child(3) {
    background-image: url(../images/index/carrusel3.jpg);
    transform: rotateY( 120deg) translateZ(430px); }
  .carousel__face:nth-child(4) {
    background-image: url(../images/index/carrusel4.jpg);
    transform: rotateY(180deg) translateZ(430px); }
  .carousel__face:nth-child(5) {
    background-image: url(../images/index/carrusel5.jpg);
   transform: rotateY(240deg) translateZ(430px); }
   .carousel__face:nth-child(6) {
    background-image: url(../images/index/carrusel6.jpg);
   transform: rotateY(300deg) translateZ(430px); }


  @keyframes rotate360 {
    from {
      transform: rotateY(0deg);
    }
    to {
      transform: rotateY(-360deg);
    }
  }