@media screen and (max-width: 400px){
body, footer, menu li{
    flex-wrap: wrap; 
	max-width: 250px;
	margin: 0px;
	align-items: center;
}
.head, .adopt, footer{
  flex-wrap: wrap;
  min-width: 250px;
  white-space: 100%;
}
.caja, .caja1, .caja2{
	min-width: 250px;
	flex-wrap: wrap;
    font-size: 16px;
    margin-bottom: 0px;
    margin: 0px;
}
.fondo_adpot img, .fondo_adpot1 img, .fondo_adpot2 img{	
	width: 80px;
	height: 80px;
	display: block;
	margin-bottom: 0px;
	margin: 0px;
}
}
@media screen and (min-width: 401px) and (max-width: 900px){
body, html{
   	
}
.fondo_adpot img, .fondo_adpot1 img, .fondo_adpot2 img{	
	margin-bottom: 0px;
	margin: 0px;
	width: auto;
}
.head, .adopt, footer{
  width: auto;
}
}
@media screen and (min-width: 901px){
body, html{
  	width: auto;
  	margin: 0;
  	padding: 0;
}
	
	
}
{
	
}
}
